@mixin minResponsive($pixels) {
  @media screen and (min-width: $pixels) {
    @content;
  }
}

@mixin maxResponsive($pixels) {
  @media screen and (max-width: $pixels) {
    @content;
  }
}

@mixin responsiveInterval($minPix, $maxPix) {
  @media screen and (min-width: $minPix) and (max-width: $maxPix) {
    @content;
  }
}

@mixin title($font-size: 2.8rem) {
  font-size: $font-size;
  line-height: 1.2;
  text-transform: capitalize;
  // letter-spacing: 3px;
}

@mixin subtitle($bottom: 1rem) {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: $bottom;
}

@mixin customTitle {
  color: $ash-color;
  font-weight: 200;
}

@mixin customLink($color: hsl(0, 0%, 0%)) {
  color: $color;
  transition: all 0.3s ease;

  &:active {
    color: #0000004d;

    opacity: 0.6;
  }

  &:hover {
    opacity: 0.6;
  }
  @content;
}

@mixin defaultContainer {
  max-width: $max-width;
  margin: 0 $mob-side-margin 0;

  @include minResponsive(1024px) {
    margin: auto;
    padding: 1rem;
  }
}

@mixin panelContainer() {
  display: flex;
  max-width: $cms-max-width;
  margin: auto;
  padding: $mob-side-margin;
  padding-top: 1rem;
  padding-bottom: ($footer-min-height + 2rem);

  @include minResponsive(1440px) {
    padding: 1rem 0 ($footer-min-height + 2rem);
  }
  @content;
}

@mixin defaultInput($input-height: 3rem, $efont-size: 0.8rem) {
  position: relative;
  @content;

  .labelInside {
    position: absolute;
    background: #fff;
    color: #979797;
    font-size: $input-height / 3;
    align-items: center;
    top: 20%;
    left: 0.6rem;
    transition: 0.2s ease all;
    pointer-events: none;
  }

  input {
    width: 100%;
    height: $input-height;
    font-size: $input-height - ($input-height / 3 * 2);
    font-weight: 500;
    border: 1px solid #979797;
    border-radius: 3px;
    padding-left: 1rem;

    // &:focus {
    //   outline: none;
    //   border-color: #333;
    //   box-shadow: 0 0 0 1px #333;
    // }

    &:not(:placeholder-shown) ~ label {
      top: -18%;
      padding: 0 6px;
      font-size: $input-height / 4;
      border-radius: 5px;
    }

    &:focus ~ label {
      top: -18%;
      padding: 0 6px;
      font-size: $input-height / 4;
      border-radius: 5px;
    }
  }

  .error {
    position: absolute;
    margin-top: 0%;
    padding-top: 5px;
    z-index: 0;
    color: red;
    font-size: $efont-size;
    animation: cssAnimation 0.8s 2;
    animation-direction: alternate;
  }

  @keyframes cssAnimation {
    0% {
      margin-top: 0%;
    }
    100% {
      margin-top: -12%;
    }
  }
}

@mixin defaultTextarea($height: 3rem, $font-size: 1rem, $efont-size: 0.8rem) {
  position: relative;
  @content;

  .labelInside {
    position: absolute;
    background: #fff;
    color: #979797;
    font-size: 1rem;
    align-items: center;
    top: 0.6rem;
    left: 0.6rem;
    transition: 0.2s ease all;
    pointer-events: none;
  }

  textarea {
    width: 100%;
    height: $height;
    font-size: $font-size;
    font-weight: 500;
    border: 1px solid #979797;
    border-radius: 3px;
    padding: 1rem;

    // &:focus {
    //   outline: none;
    //   border-color: #333;
    //   box-shadow: 0 0 0 1px #333;
    // }

    &:not(:placeholder-shown) ~ label {
      top: -0.6rem;
      padding: 0 6px;
      font-size: 0.8rem;
      border-radius: 5px;
    }

    &:focus ~ label {
      top: -0.6rem;
      padding: 0 6px;
      font-size: 0.8rem;
      border-radius: 5px;
    }
  }

  .error {
    position: absolute;
    margin-top: 0%;
    padding-top: 5px;
    z-index: -1;
    color: red;
    font-size: $efont-size;
    animation: cssAnimation 0.8s 2;
    animation-direction: alternate;
  }

  @keyframes cssAnimation {
    0% {
      margin-top: 0%;
    }
    100% {
      margin-top: -12%;
    }
  }
}

@mixin successBtn {
  background: $success-color;
  border-color: $success-color;

  &:hover {
    background: $success-dark;
    border-color: $success-dark;
  }
}

@mixin boxBorder {
  // background: rgba(225, 225, 225, 0.1);
  background: linear-gradient(
    to right bottom,
    rgba(225, 225, 225, 0.3),
    rgba(225, 225, 225, 0.1)
  );
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(225, 225, 225, 0.5);
  border-right: 1px solid rgba(225, 225, 225, 0.2);
  border-bottom: 1px solid rgba(225, 225, 225, 0.2);
  border-radius: 10px;

  @include maxResponsive(1099px) {
    padding: 0.5rem;
  }

  @include minResponsive(1100px) {
    padding: 1rem;
  }
}

@mixin customButton(
  $mainColor: $light-color,
  $hoverColor: $light-color,
  $hoverBgColor: $dark-red-color
) {
  margin: 0.5rem 0 0;
  padding: 0.5rem 1rem;
  color: $mainColor;
  border: 1px solid $mainColor;
  text-decoration: none;
  transition: 0.5s;

  &:hover {
    background: $hoverBgColor;
    border-color: $hoverBgColor;
    color: $hoverColor;
  }
}
