$dark-color: #1e2123;
$dark-red-color: #490000; //#003670
$header-color: #200122;
$header-gradient: linear-gradient(270deg, #490000 10%, #ffff 100%);
$header-dropdown-color: rgba(73, 0, 0, 0.6);
$light-color: #ffffff;
$sidebar-color: #e6e6e6;
$default-background: rgb(245, 248, 255);
$ash-color: #979797;
$success-color: #4caf50;
$success-dark: #46a049;
$primary-color: #1890ff;

$panel-box-shadow: 0 0.125rem 1.125rem 0 rgba(0, 0, 0, 0.09);

$header-height: 3rem;
$footer-min-height: 5rem;
$max-width: 1024px;
$cms-max-width: 1200px;

$mob-side-margin: 1rem;
$main-top-margin: 2rem;

$sidebar-width: 20rem;
$mob-sidebar-height: 20rem;
