@import "../../assets/mixins.scss";
@import "../../assets/variables.scss";

.container {
  .listItem {
    @include customLink();
    width: 100%;
    height: auto;
    margin-bottom: 4rem;

    a {
      height: auto;
      color: unset;
      display: block;

      img {
        width: 100%;
        height: auto;
        max-width: -webkit-fill-available;
        object-fit: cover;
      }
      @include minResponsive(600px) {
        display: flex;
        max-height: 20rem;

        img {
          width: 15rem;
          margin-right: 1rem;
        }
      }
    }

    h3 {
      @include subtitle();
      @include customLink();
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
