@import "../../../assets/variables.scss";
@import "../../../assets/mixins.scss";

.container {
  grid-area: sidebar;
  width: 100%;
  height: auto;
  z-index: 100;
  font-size: 110%;
  // height: 100vh;

  @include minResponsive(1100px) {
    font-size: 100%;
  }

  .positionSticky {
    padding: 1rem 1rem 2rem;
    margin-bottom: 2rem;
    @include boxBorder;

    @include maxResponsive(1099px) {
      margin: -3rem $mob-side-margin 0;
      backdrop-filter: blur(5px);
      background: rgba(225, 225, 225, 0.3);
    }

    @include responsiveInterval(600px, 1099px) {
      display: flex;
      justify-content: space-between;
    }

    @include minResponsive(1100px) {
      margin-left: 1rem;
      position: -webkit-sticky;
      position: sticky;
      top: $header-height + 1rem;
    }
  }

  h3 {
    font-weight: 600;
  }

  .schedule {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-top: 1rem;

      li {
        line-height: 1.6rem;

        span {
          font-weight: 600;
        }
      }
    }
  }

  .upcomingEvents {
    margin-top: 1rem;
    @include responsiveInterval(600px, 1099px) {
      margin: 0;
      text-align: end;
      padding-left: 1rem;
    }

    @include minResponsive(1100px) {
      margin-top: 2rem;
    }

    .singleEvent {
      padding-top: 1rem;
      h4 {
        font-weight: 600;
        font-size: 1rem;
        padding-bottom: 0.5rem;
      }
      p {
        font-weight: 350;
      }
    }
  }
}
