@import "../../assets/variables.scss";
@import "../../assets/mixins.scss";

.homePage {
  @include minResponsive(1100px) {
    max-width: 1440px;
    margin: auto;
    margin-top: -3rem;
    // position: relative;
    // display: flex;
    // justify-content: center;
    // margin-left: -25rem;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    justify-items: center;
    grid-template-areas: "sidebar container articleBar";
  }

  .articleBar {
    grid-area: articleBar;

    &Container {
      margin: 2rem $mob-side-margin 0;
      height: auto;
      padding: 1rem;
      @include boxBorder;

      @include minResponsive(1100px) {
        margin: unset;
        margin-right: 1rem;
        backdrop-filter: blur(5px);
      }
    }
  }

  .container {
    grid-area: container;
    padding: 0 $mob-side-margin;
    width: 100%;

    .news {
      @include boxBorder;

      @include maxResponsive(1099px) {
        margin-top: 2rem;
        padding: 0.5rem;
      }

      @include minResponsive(1100px) {
        padding: 1rem;
      }

      .newsContainer {
        @include minResponsive(1100px) {
          display: grid;
          grid-gap: 2rem;
          grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
          grid-template-rows: auto;
        }
      }
    }

    // background: linear-gradient(
    //   to right bottom,
    //   rgba(225, 225, 225, 0.3),
    //   rgba(225, 225, 225, 0.1)
    // );
    // backdrop-filter: opacity();
  }

  .sectionTitle {
    @include title();
    padding-bottom: 2rem;
  }
}
